*
{
    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}
body
{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
/*------Header Css-------*/
#header
{
    height: 100vh;
    background: url(Lighthouse.jpg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
}    
.user-box
{
    top: 50%;
    left: 50%; 
    transform: translate(-50%,-50%);
    position: absolute;
}
.user-box img
{
    border-radius: 100px;
    width: 150px;
    border:3px solid rgb(58, 66, 68);
    height: 150px;
   
}
.user-box h1
{
color: rgb(139, 211, 200);
font-weight: bold;
margin: 10px;
font-size:35px;
}
.user-box p
{
    color: white;
}
.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid green;
    padding: 10px 10px 20px;
    border-radius: 30px;
}
.scroll-bar span
{
    border: 2px solid rgb(72, 199, 46);
    font-size: 10px;
    border-radius: 30px;
}
.scroll-bar
{
    animation: mover 1s infinite alternate;
}
@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
 }
/*---------About---------*/
.poppy
{
    background: rgb(0, 0, 0);
}
.about
{
    padding-top: 60px;
    padding-bottom: 60px;
    background: linear-gradient(rgb(242, 242, 242),rgb(0, 0, 0));
    border-top-left-radius: 20px;
}
.profile-img
{
    height:400px;
    margin-bottom: 20px; 
}
.profile-img:hover
{
    box-shadow:0 0 20px 0px rgb(54, 171, 187);
    transform: translateY(-10px);
}
.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar 
{
    background-color: rgb(0, 0, 0);
    
}   
.nav-bar .fa-bars
{
    font-size:30px;
    color: rgb(255, 255, 255);
}
.navbar-toggler
{
    outline: none !important;
}
.navbar-nav
{
    float: right;
    text-align: right;
}
.nav-link
{
    color: rgb(255, 255, 255) !important;
}
.nav-link:hover
{
    color: #fd5949 !important;
    font-style: italic;
    font-weight: bolder;
    background-color: aqua;
    border-radius: 8px;
    text-align: center;
    transition: 0.5s;
    background-position:initial;
}
.skills-bar
{
    margin-bottom: 6px;
    font-weight: 600;
}
.progress
{
    border-radius: 16px !important;
    margin-bottom: 10px;
}
.progress-bar
{
    border-radius: 16px;
    background: rgb(29, 162, 177) !important;
}
/*-----------resume---------*/
.resume
{
    background:linear-gradient(rgb(244, 246, 247),rgb(114,182,219));
    padding-top: 50px;
    padding-bottom: 50px;
}
.education:hover
{
    color: lightcoral;
    transition: 5ms;   
}

.resume h3
{
    margin-bottom: 20px;
}
.timeline::before
{
    content: '';
    background: rgb(114, 55, 55);
    display: inline-block;
    position: absolute;
    left:29px;
    width: 2px;
    height: 90%;
    z-index: 1;
}
.timeline li
{
    margin-bottom: 20px;
    background: darkgreen;
}
.timeline h4
{
    background: rgb(36, 133, 150);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.timeline p
{
 color: rgb(77, 20, 28);
 margin-left: 10px;
}
.timeline li::before
{
    content: '';
    background:#fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
/*--------services-----------*/
.services
{
    padding-top: 50px;
    padding-bottom: 50px;
}
.services h1
{
    margin-bottom: 15px;
}
.services-box
{
    background: lawngreen;
    padding: 10px;
    margin-top: 20px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
}
.services-box .fa
{
    margin: 0 10px;
    font-size: 20px;
}
.services-box span
{
    margin:3px;
    font-size: 20px;
    font-weight: bold;
}
.services-box p
{
    font-size: 15px;
    margin-top: 20px;
    color: white;
}
.services-box:hover
{
    background: #000;
    color: teal;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 1s;
}
.services-box:hover p
{
    color: red;
}
/*-------------contact----------*/
.contact
{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(Lighthouse.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.contact .row
{
    padding: 30px 0;
    font-size: 22px;
}
.contac .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;
}
.contact .btn 
{
    padding: 10px 25px 10px 25px;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid red;
    background: transparent;
}
.btn-primary
{
    list-style: none;
    text-decoration: none;
}
.contact .btn:focus
{
    box-shadow: none !important;
}
.contact .btn:hover
{
    border: 2px solid white !important;
    background: pink !important;
    color: coral !important;
    transition: 0.6s;
}
.contact .btn .fa
{
    margin-right: 10px;

}
.footer
{
    background: darkcyan;
    height: 50px;
    margin-top: 50px;
    color: white;
    padding-top: 10px;
}
.fa-copyright
{
    color: darkorange;
}
/*-----------------sticky---------*/
.social-icons
{
    position: fixed;
    top:50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index:1; 
   
}
  .social-icons a 
{
    display: block;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
    
}
.social-icons ul
{
    padding: initial;
    
}
.social-icons ul li
{
    height: 30px;
    width: 30px;
    list-style-type: none;
    padding-left: 5px;
    padding-top:5%;
    margin-top: 5px;
    color: rgb(250, 250, 250);
    background: rgb(5, 5, 5);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}
.social-icons ul li:hover
{
    padding-left:12px;
    width: 40px;
    transition:0.5s;
    border-radius: 10px;
    margin-left: 10px;
    height: 40px;
    padding-top: 6%;
}
.social-icons ul li.po:hover
{
    color: rgb(237, 231, 237);
    background-color:#0072B1;
}
.social-icons ul li.pi:hover
{
    color: rgb(0, 0, 0);
    background-color: rgb(247, 244, 247);
}
.social-icons ul li.pu:hover
{
    color: rgb(250, 248, 250);
    background:radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.social-icons ul li.py:hover
{
    color: rgb(255, 255, 255);
    background: -webkit-linear-gradient(top, #3b5998, #2b4170); 
}
.social-icons ul li.pt:hover
{
    color: rgb(255, 255, 255);
    background:#4fce5d;  
}
.social-icons ul li.pr:hover
{
    color: rgb(255, 255, 255);
    background:linear-gradient(120deg,#410093,#ffffff);  
}
